Flask==2.3.3
Flask-Cors==3.0.10
requests==2.31.0
beautifulsoup4==4.12.2
pymongo==4.6.3     
selenium==4.11.2
python-dotenv==1.0.1
imapclient==2.3.0
email-validator==2.0.0.post0
apscheduler==3.10.1
python-dateutil==2.8.2
